/* REQUEST SENT PAGE */

.requestSent {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  gap: 2rem;
  color: var(--TEXT-COLOR);
  text-align: center;
}

.requestSent img {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.requestSent__link {
  color: royalblue;
  text-decoration: none;
}
.requestSent__link:hover {
  text-decoration: underline;
}
