.searchbar {
  color: var(--TEXT-COLOR);
  background-color: var(--BACKGROUND);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 60vw;
  z-index: 20;
  overflow: hidden;
  transition: all 0.3s;
  transform: translateX(-100%);
  max-width: 400px;
  border-right: var(--BORDER);
  border-radius: 0 20px 20px 0;
}

.searchbar__con {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.searchbar__upper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}
.searchbar__upper input {
  background: var(--INPUT-BACKGROUND);
  border: none;
  color: var(--TEXT-COLOR);
  outline: none;
  border-radius: 5px;
  padding: 0.5rem;
}

.searchbar__header {
  text-align: center;
}

.searchbar__lower {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 0;
}
.searchbar__recent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: var(--BORDER);
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}
.searchbar__recent button {
  background: none;
  color: dodgerblue;
  border: none;
  cursor: pointer;
}

/* SEARCH RESULT OR HISTORY */

.searchbar__results {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.searchbar__result {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 10px;
  user-select: none;
}
.searchbar__result:hover {
  background: var(--HOVER-OVERLAY-BACKGROUND);
}

.result__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.result__left img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.result__userInfo {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}
.result__username {
  font-weight: 700;
}
.result__status {
  color: var(--LIGHT-TEXT-COLOR);
}
.result__deleteBtn {
  align-self: center;
  margin-right: 0.5rem;
}

.searchbar__noRecent {
  color: var(--LIGHT-TEXT-COLOR);
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
